<ion-header>

</ion-header>

<ion-content padding>
    <app-loading></app-loading>
    <ion-img style="margin:0 auto; margin-top:100px; height:150px" src="/assets/icon.svg"></ion-img>
 <ion-list no-lines style="margin-top:50px">
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">Agent ID</ion-label>
      <ion-input ngModel type="text" name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
  
    <!-- <p text-right>Forgot Password? Contact Support </p> -->
   <div  class='center'>  <ion-button  size="default" shape="round" type="submit" color="primary">
     Sign In
   </ion-button>
   </div>
      

  </form>
 </ion-list>

</ion-content>