.toolbar-title {
    text-align: center !important;
}

.full-width {
    width: 100%;
}

// .center{
//     width:80px;
//     margin:0 auto;
//     margin-top:30px;
// }
::ng-deep .cdk-overlay-pane {
    /* Do you changes here */
    width: 100%;
}