<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
    <ion-button size="small"  (click)="logout()"> <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-buttons >
    <ion-title>Altara Pay</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="center" center text-center>
   <button mat-raised-button (click)="reactivate()" id="toggle-linear">
   <strong>Reactivate Customer >></strong> 
  </button>
<!-- 
   <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>   -->
  <app-loading></app-loading>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter Customer Id Number</ng-template>
        <hr>
        <mat-form-field>
          <input matInput placeholder="Customer Id Number" formControlName="customerId" required>
        </mat-form-field>
        <div>
          <button (click)="checkId(stepper)" mat-button>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Comfirm Customer Data</ng-template>
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="First Name" formControlName="first_name" required>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Middle Name" formControlName="middle_name">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="last_name" required>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Phone Number" formControlName="phoneNo" required>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field>
                <input matInput [matDatepicker]="pickeryear" formControlName="dateOfBirth"
                placeholder="Date of Birth">
                <mat-datepicker-toggle  [for]="pickeryear">
                </mat-datepicker-toggle>
                <mat-datepicker #pickeryear startView="year"></mat-datepicker>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <mat-select matNativeControl formControlName="sector" required>
                  <mat-option value="">Select Sector</mat-option>
                  <mat-option *ngFor="let sector of ['informal(business)','formal'];" [value]="sector"> {{sector}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Occupation" formControlName="occupation" required>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Company/Business name" formControlName="company" required>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Salary Income" formControlName="income" required>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Number in Household" formControlName="household" required>
              </mat-form-field>
            </ion-col>
          </ion-row>

        </ion-grid>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="confirmData(stepper)">Comfirm</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="seventhFormGroup">
      <form [formGroup]="seventhFormGroup">
        <ng-template matStepLabel>Verification/Collection Data</ng-template>
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Salary Day1" formControlName="salaryDay" required>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Salary Day2" formControlName="salaryDay2">
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="Salary Day3" formControlName="salaryDay3">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field>
                <mat-select matNativeControl formControlName="salaryProof" required>
                  <mat-option value="">Proof of Credit</mat-option>
                  <mat-option *ngFor="let type of ['SMS Alert Screenshot','E-statement', 'Stamped-statement', 'Bank App History Screenshot'];" [value]="type"> {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <mat-select matNativeControl formControlName="guarantorSigned" required>
                  <mat-option value="">Guarantor Signed?</mat-option>
                  <mat-option *ngFor="let signed of ['2 - Yes','1 - Yes','No'];" [value]="signed"> {{signed}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <mat-select matNativeControl formControlName="addressVisited" required>
                  <mat-option value="">Address Visited ?</mat-option>
                  <mat-option *ngFor="let visited of ['Yes','No'];" [value]="visited"> {{visited}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field>
                <mat-select matNativeControl formControlName="creditReport" required>
                  <mat-option value="">Credit Report Status</mat-option>
                  <mat-option *ngFor="let status of ['Bad','Fair','No','Good'];" [value]="status"> {{status}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field>
                <mat-select matNativeControl formControlName="creditPoints" required>
                  <mat-option value="">Credit Point Status</mat-option>
                  <mat-option *ngFor="let status of ['Bad','Average','Good'];" [value]="status"> {{status}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="confirmDocData(stepper)">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Enter Product SKU Number</ng-template>
        <hr>
        <mat-form-field>
          <input matInput placeholder="Product SKU Number" formControlName="productSku" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button (click)="checkProductSku(stepper)" mat-button>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Select Sales Type and Plan</ng-template>
        <hr>
        <mat-label>
          <!-- Product Name : Product Name : {{product.name}} -->
        </mat-label>
        <hr>
        <mat-form-field>
          <mat-select matNativeControl formControlName="saleType" required>
            <mat-option value="">Select Sales Type</mat-option>
            <mat-option *ngFor="let type of saleTypes;" [value]="type.id"> {{type.name}} </mat-option>
          </mat-select>
        </mat-form-field>
        <hr>
        <mat-form-field>
          <mat-select matNativeControl formControlName="salePlan"  required>
            <mat-option value="">Select Sales </mat-option>
            <mat-option *ngFor="let plan of salePlans;" [value]="plan.type"> {{plan.type}} </mat-option>
          </mat-select>
        </mat-form-field>
        <hr>
        <mat-form-field>
          <mat-select matNativeControl formControlName="saleDetail"  required>
            <mat-option value="">Select Sales Plan</mat-option>
            <mat-option *ngFor="let plan of saleDetails;" [value]="plan.id"> {{plan.name}} </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button (click)="checkTypePlan(stepper)" mat-button>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Comfirm Order Details</ng-template>

      <ion-grid>
        <!-- <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12"> -->
            <ion-row color="primary">
              <ion-col>
                <mat-form-field>
                  <input matInput placeholder="Receipt Number" [(ngModel)]="nextReciept" [disabled]="receiptText" required>
                  <small style="color:red">enable edit <ion-toggle  (ionChange)="enable()"></ion-toggle></small>
                </mat-form-field>
                
              </ion-col>
            </ion-row>
        
            <ion-row color="primary">
          <ion-col>
            Name
          </ion-col>
          <ion-col>
            {{productName}}
          </ion-col>
        </ion-row>
        <ion-row color="primary">
          <ion-col>
            Type
          </ion-col>
          <ion-col>
            {{saleType}}
          </ion-col>
        </ion-row>
        <ion-row color="primary">
          <ion-col>
            Sale Plan
          </ion-col>
          <ion-col>
            {{saleDetail}}
          </ion-col>
        </ion-row>
        <ion-row color="primary">
          <ion-col>
            Down Payment
          </ion-col>
          <ion-col>
            {{sixthFormGroup.value.downPayment | currency:'NGN'}}
          </ion-col>
        </ion-row>

        <ion-row color="primary">
          <ion-col>
            Repayment
          </ion-col>
          <ion-col>
            {{sixthFormGroup.value.repaymentPrice | currency:'NGN'}}
          </ion-col>
        </ion-row>

        <ion-row color="primary">
          <ion-col>
            Total Price
          </ion-col>
          <ion-col>
            {{sixthFormGroup.value.totalPrice | currency:'NGN'}}
          </ion-col>
        </ion-row>

      </ion-grid>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button (click)="processAmount(stepper)" mat-button>Process Payment</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Make Payment</ng-template>
        <hr>

        <mat-radio-group aria-label="Select an option" formControlName="makePayment">
          <mat-radio-button value="1">Down Payment</mat-radio-button> &nbsp;
          <mat-radio-button value="2">Enter Amount</mat-radio-button>
        </mat-radio-group>
        <hr>
        <mat-form-field *ngIf="radioValue == '1'">
          <input matInput placeholder="Down Payment" formControlName="downPayment" required>
        </mat-form-field>
        <hr>
        <mat-form-field *ngIf="radioValue == '2'">
          <input matInput placeholder="Enter Amount" formControlName="enterAmount" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button (click)="processPayment(stepper)" mat-button>Comfirm</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Initialize Payment(Handover to Customer)
      </ng-template>
      <small style="color:red">push button if customer transfered downpayment <ion-toggle  (ionChange)="Clicked()"></ion-toggle></small>
      
      <!-- <div class='center'> -->
      <ion-button *ngIf='transfer === false' size="small" expand="block" color="primary" angular4-paystack
        [key]="pKey" [email]="secondFormGroup.value.email"
        [amount]="amount" [ref]="ref" [subaccount]="sub_acct" [channels]="['card']" [class]="'btn btn-primary'"
        (close)="paymentCancel(stepper)" (callback)="paymentDone($event,stepper)">Pay 
      </ion-button>
      
      <ion-button *ngIf='transfer === true' size="small" expand="block" color="primary" (click)="confirmDialog(stepper)" >Comfirm Transfer</ion-button>
      <!-- </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button  (click)="resetForm(stepper)">Reset Form</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</ion-content>